.btn {
    background: var(--square-black);
    color: var(--disc-white);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2.5rem;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}